*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt', sans-serif;
}

.container{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App{
  transition: 0.4s ease;
  background-image: url('./assets/cold-bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom;
  max-width: 411px;
  margin: 0 auto 0 auto;
  -webkit-box-shadow: 3px 3px 3px rgba(255,255,255,0.5);
  -moz-box-shadow: 3px 3px 3px rgba(255,255,255,0.5);
  box-shadow: 3px 3px 3px rgba(255,255,255,0.5);
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.App.warm{
  background-image: url('./assets/warm-bg.jpg');
}

.search-box{
  width: 100%;
  margin: 0 0 75px;
}

.search-bar{
  display: block;
  padding: 15px;
  width: 100%;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0px 0px 16px 16px;
  -moz-border-radius: 0px 0px 16px 16px;
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: #313131;
  transition: 0.4s ease;
}

.search-bar:focus{
  background-color: rgba(255,255,255, 0.75);
}

.location-box .location{
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color:#FFF;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box{
  text-align:center;
}

.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  padding: 15px 25px;
  color: #FFFFFF;

  font-weight: 900;
  font-size: 102px;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather{
  font-size: 48px;
  color: #FFF;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);

}